# 由 entrypoint envsubst 生成；变量：CANONICAL_HOST、CANONICAL_SCHEME、TLS_CERT_FILE、TLS_KEY_FILE
# main 容器使用 host 网络，Nginx 同时监听 80 / 443 对外服务

server {
    listen 80;
    server_name www.${CANONICAL_HOST};
    return 301 ${CANONICAL_SCHEME}://${CANONICAL_HOST}$request_uri;
}

server {
    listen 443 ssl http2;
    server_name www.${CANONICAL_HOST};
    ssl_certificate ${TLS_CERT_FILE};
    ssl_certificate_key ${TLS_KEY_FILE};
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    return 301 ${CANONICAL_SCHEME}://${CANONICAL_HOST}$request_uri;
}

server {
    listen 80 default_server;
    server_name ${CANONICAL_HOST} _;
    include /etc/nginx/snippets/kageos-common.conf;
}

server {
    listen 443 ssl http2 default_server;
    server_name ${CANONICAL_HOST} _;

    ssl_certificate ${TLS_CERT_FILE};
    ssl_certificate_key ${TLS_KEY_FILE};
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;

    include /etc/nginx/snippets/kageos-common.conf;
}
